.footer-link a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  line-height: 35px;
}

.gradient {
  background: rgba(8, 3, 3, 0.534);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.932) 0%,
    rgb(13, 11, 17) 100%
  );
}
.copyright {
  background-color: #030208d3;
}

.dropdown-menu.show {
  left: -126px;
  padding: 11px;
}
